body{
font-family:Arial;
background:linear-gradient(135deg,#667eea,#764ba2);
margin:0;
}

.container{
background:white;
max-width:400px;
margin:40px auto;
padding:25px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

h2{text-align:center;}

label{
font-weight:bold;
margin-top:15px;
display:block;
}

input[type=file]{
width:100%;
margin-top:5px;
}

button{
width:100%;
margin-top:20px;
padding:12px;
background:#667eea;
color:white;
border:none;
border-radius:6px;
}
